body {
  background-image: url(../buildingblocks.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
}
html {
    height: 100%
}

.wrapper {
    width: 305px;
    margin:0 auto;
    background-color: white;
    border:5px solid black;
    border-radius: 5px;
}

.gameboard {
    width: 305px;
    height:300px;
    z-index: 1;
}

.gameboard div {
    width: 100px;
    height: 100px;
    float: left;
}
.middle {
    border: 5px solid;
}
.button {
    background-color:white;
    width: 80px;
    margin:0 auto;
}
.updown {
    border-top: 5px solid;
    border-bottom: 5px solid;
}
.leftright {
    border-left: 5px solid;
    border-right: 5px solid;
}

.box {
  text-align: center;
  font-size: 30px;
  vertical-align: middle;
  line-height: 103px;
}

.gameboard .img {
  display: none;
  margin-bottom: 0px;
  opacity: 0.6;
  color: #fff;
  background: #09a00c;
  width: 300px;
  height:300px;
  background-size: cover;
  overflow: hidden;
  position:absolute;
  z-index:1;
  border-radius: 5px;
}

.btn-md {
  margin-top: 50px;
  margin-left: 5px;
}

.btn-info {
  background-color: #088adb;
  width: 90px;
}

.buttonboard div {
    width: 75px;
    height: 100px;
    float: left;
}

.jumbotron {
  background-color: #d10202;
  margin-bottom: 50px;
  color: white;
  text-align: center;
}

h3 {
  text-align: center;
  vertical-align: middle;
  line-height: 125px;
  text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 1px black;
  font-size: 30px;
}

h4 {
  text-align: center;
  vertical-align: middle;
  line-height: 85px;
  text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 1px black;
  font-size: 25px;
}

input {
  width: 80px;
}

#newgame {
  margin-left: 2px;
}

#computer-play {
  margin-left: 12px;
  word-wrap: break-word;
}

.btn-danger {
  width: 120px;
}

#changegame {
  margin-left: 45px;
}

#switchgame {
  margin-left: 25px;
  width: 120px;
}

#computer-player {

}
